<!-- all authors overview page - called in AuthorController with
getAllAuthors, but is not required in BC application -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="author:${authors}">
        <p style="display: inline-block">First name: </p>
        <p style="display: inline-block" th:text="${author.firstName}"></p> <br/>
        <p style="display: inline-block" >Last name:</p>
        <p style="display: inline-block" th:text="${author.lastName}"></p> <br/>
        <hr>
    </div>
</body>
</html>