<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <link rel="stylesheet" href="/css/master.css"/>
    <script src="/js/script.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>

</head>
<body>

<!-- navbar / header-->
<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <ul th:with="LoggedIn=${userLoggedIn}" class="uk-navbar-nav">
            <li>&nbsp;&nbsp;</li>
            <li><a class="uk-link-text" href="/">Home</a></li>

            <li th:unless="${LoggedIn}"><a class="uk-link-text" href="/login">Login</a></li>
            <li th:unless="${LoggedIn}"><a class="uk-link-text" href="/authors/register">Sign up</a></li>
            <!-- TODO: redirect to logged user-->
            <li th:if="${LoggedIn}"><a class="uk-link-text" th:href="@{/authors/update}">Update profile</a></li>
            <li th:if="${LoggedIn}"><a class="uk-link-text" th:href="@{/blogpost/writePost}">New post</a></li>
        </ul>
    </div>
    <!--        navbar menu search-->
    <div class="uk-navbar-right">
        <div>
            <a class="uk-navbar-toggle" uk-search-icon></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:executeSearch()">
                    <input id="searchField" class="uk-search-input" type="search" placeholder="Search" autofocus>
                </form>
            </div>
        </div>
    </div>
</nav>

<main>
    <!--    TODO: fill sidenav -->
    <div class="sideNav">
        <div class="uk-placeholder">PLACEHOLDER SIDEBAR</div>
        <div class="uk-placeholder">P1: LOGGED ON USERS</div>
        <div class="uk-placeholder">P2: TOTAL ONLINE</div>
        <div class="uk-placeholder">P3: TOTAL VISITS</div>
        <button th:if="${userLoggedIn}" class="uk-button uk-button-danger" onclick="javascript:window.location.href = '/logout'">Logout</button>
    </div>

    <div class="content">
        <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    <b><li>Filter by:</li></b>
                </ul>
            </div>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    <li id="recent"><a th:href="@{/}">Most recent</a></li>
                    <li id="oldest"><a th:href="@{?orderBy=oldest}">Oldest</a></li>
                    <li id="popular"><a th:href="@{?orderBy=popular}">Most popular</a></li>
                </ul>
            </div>
        </div>

        <div class="flex-surround">

            <div class="articles uk-width-expand">

                <div class="uk-card uk-card-default space-50-px"  th:each="post:${postsFromAuthor}">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom" th:text="${post.title}"></h3>
                                <p class="uk-text-meta uk-margin-remove-top">Posted by <b>[[${post.author.userName}]]</b> on [[${post.timestampCreatedDisplay}]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p th:text="${#strings.abbreviate(post.body,1000)}"></p>
                    </div>
                    <div class="uk-card-footer">
                        <p><a class="uk-button uk-button-primary" th:href="@{/blogpost/{postId}/(postId = ${post.id})}">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="miniprofile uk-width-1-4">
                <div class="uk-panel uk-panel-box uk-text-center">
                    <img class="uk-border-circle" th:src="${author.avatarPath}" alt="avatar" width="120" height="120">
                    <h3 th:text="${author.userName}"></h3> <!-- TODO CHECK -->
                    <a class="uk-button uk-button-primary" th:href="@{/writePost}">New post</a>
                </div>
            </div>
        </div>

        <div class="pagination">
<!--            TODO: REAL PAGINATION BUT NOT WORKING-->
            <!--        <ul class="uk-pagination uk-flex-center" uk-margin>-->
            <!--            <li><a onclick="previousPage()"><span uk-pagination-previous></span></a></li>-->
            <!--            <li th:each="i: ${#numbers.sequence(1, totalPages)}"><a th:href="@{'/authors/' + post.author.id + '/' + ${i}}">[[${i}]]</a></li>-->
            <!--            <input type="hidden" id="amountOfPages" th:value="${totalPages}"/>-->
            <!--            <li><a onclick="nextPage()"><span uk-pagination-next></span></a></li>-->
            <!--        </ul>-->
<!--            DUMMY PAGINATION-->
            <ul class="uk-pagination">
                <li class="uk-disabled"><span><i
                        class="uk-icon-angle-double-left"></i></span></li>
                <li class="uk-active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><span>...</span></li>
                <li><a href="#">10</a></li>
                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a>
                </li>
            </ul>
        </div>

    </div>
</main>

</body>

</html>