<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>BlogCentral</title>

    <link rel="stylesheet" href="/css/master.css">
    <script src="/js/script.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <ul th:with="LoggedIn=${userLoggedIn}" class="uk-navbar-nav">
            <li>&nbsp;&nbsp;</li>
            <li><a class="uk-link-text" href="/">Home</a></li>

            <li th:unless="${LoggedIn}"><a class="uk-link-text" href="/login">Login</a></li>
            <li th:unless="${LoggedIn}"><a class="uk-link-text" href="/authors/register">Sign up</a></li>
            <!-- TODO: redirect to logged user-->
            <li th:if="${LoggedIn}"><a class="uk-link-text" th:href="@{/authors/update}">Update profile</a></li>
            <li th:if="${LoggedIn}"><a class="uk-link-text" th:href="@{/blogpost/writePost}">New post</a></li>
        </ul>
    </div>
    <!--        navbar menu search-->
    <div class="uk-navbar-right">
        <div>
            <a class="uk-navbar-toggle" uk-search-icon></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:executeSearch()">
                    <input id="searchField" class="uk-search-input" type="search" placeholder="Search" autofocus>
                </form>
            </div>
        </div>
    </div>
</nav>
<main>

    <div class="sideNav">
        <div class="uk-placeholder">PLACEHOLDER SIDEBAR</div>
        <div class="uk-placeholder">P1: LOGGED ON USERS</div>
        <div class="uk-placeholder">P2: TOTAL ONLINE</div>
        <div class="uk-placeholder">P3: TOTAL VISITS</div>
        <button th:if="${userLoggedIn}" class="uk-button uk-button-danger" onclick="javascript:window.location.href = '/logout'">Logout</button>

    </div>

    <div class="content">
        <form th:action="@{createPost}" method="post">


            <div sec:authorize="isAuthenticated()">
                Author: <span size="20" sec:authentication="name"></span>
            </div>
            <br/>
            <input type="hidden" th:value="${author.id}" name="author"/>
            Title: <input type="text" name="title" placeholder="Title"> <br><br>
            Body: <textarea class="uk-textarea"  rows="10" placeholder="Post" name="body"></textarea> <br><br>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" th:each="index : ${#numbers.sequence( 0, #arrays.length(allTags)-1)}">
                <label><input class="uk-checkbox" type="checkbox" name="tags" th:text="${allTags[index].tagName}" th:value="${allTags[index].id}"checked> </label>
                <!--            <input id="selectedTags" type="hidden" name="activeTags" th:value="${tagStatus[index]}">-->
            </div>
            <br/>
            <input type="submit" value="Save post"> <br><br>
        </form>
    </div>
</body>
</html>
</body>
</html>