<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>BlogCentral</title>

    <link rel="stylesheet" href="/css/master.css">
    <script src="/js/script.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>&nbsp;&nbsp;</li>
            <li><a class="uk-link-text" href="/login">Login</a></li>
            <li><a class="uk-link-text" href="/authors/register">Sign up</a>
            </li>
            <!-- TODO: redirect to logged user-->
            <li><a class="uk-link-text" href="/authors/update/1">Update
                profile</a></li>
            <!--<li><a th:href="@{/authors/update/{authorId}(authorId=${author.id})}">Update profile</a></li>-->
        </ul>
    </div>
    <!--        navbar menu search-->
    <div class="uk-navbar-right">
        <div>
            <a class="uk-navbar-toggle" uk-search-icon></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:executeSearch()">
                    <input id="searchField" class="uk-search-input" type="search" placeholder="Search" autofocus>
                </form>
            </div>
        </div>
    </div>
</nav>
<main>

    <div class="sideNav">
        <h1>Active users</h1>
        <h1 th:text="${activeFilter}"></h1>
    </div>


    <div class="container">
        <form th:action="@{save}" th:object="${author}" method="post">
            <h1>Register</h1>
            <br>
            <div>
                <label for="firstnameForm" STYLE="color: black">First name*</label>
                <div>
                <input type="text" th:field="*{firstName}" style="border: 1px solid black" name="firstName" id="firstnameForm" aria-describedby="emailHelp" placeholder="Enter first name" required>
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger" ></p>
                </div>

            </div>
            <br>
            <div>
                <label for="lastnameForm" STYLE="color: black">Last name*</label>
                <div>
            <div class="form-group">
                <input type="text" th:field="*{lastName}" class="form-control" name="lastName" id="lastnameForm"
                       aria-describedby="emailHelp" placeholder="Enter last name" required>
                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></p>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="emailForm" STYLE="color: black">E-mail*</label>
                    <div>
                        <div class="form-group">
                <input type="text" th:field="*{email}" class="form-control" name="email" id="emailForm"
                       aria-describedby="emailHelp" placeholder="Enter email" required>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="streetForm" STYLE="color: black">Street</label>
                    <div>
                <input type="text" th:field="*{street}" class="form-control" name="street" id="streetForm"
                       aria-describedby="emailHelp" placeholder="Enter street">
                <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="text-danger"></p>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="houseNrForm" STYLE="color: black">House number</label>
                    <div>
                <input type="text" th:field="*{houseNr}" class="form-control" name="houseNr" id="houseNrForm"
                       aria-describedby="emailHelp" placeholder="Enter house Nr">
                <p th:if="${#fields.hasErrors('houseNr')}" th:errors="*{houseNr}" class="text-danger"></p>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="cityForm" STYLE="color: black">City</label>
                    <div>
                <input type="text" th:field="*{city}" class="form-control" name="city" id="cityForm"
                       aria-describedby="emailHelp" placeholder="Enter City">
                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></p>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="zipForm" STYLE="color: black">Zip code</label>
                    <div>
                <input type="number" min="1000" max="999999" th:field="*{zip}" class="form-control" name="zip" id="zipForm"
                       aria-describedby="emailHelp" placeholder="Enter Zip code">
                <p th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}" class="text-danger"></p>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="usernameForm" STYLE="color: black">Username*</label>
                    <div>
                <input type="text" th:field="*{userName}" class="form-control" name="userName" id="usernameForm"
                       aria-describedby="emailHelp"  placeholder="Enter username" required>
                <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger"></p>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="passwordForm" STYLE="color: black">Password*</label>
                    <div>
                <input type="password" th:field="*{password}" class="form-control" name="password" id="passwordForm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters and must contain (?=.*d)(?=.*[a-z])(?=.*[A-Z]).{8,} ' : '');if(this.checkValidity()) form.confirm_password.pattern = this.value;"
                       placeholder="Password" required>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>
                        <br>
                        <div>
                            <label for="confirm_password" STYLE="color: black">Re-enter password*</label>
                            <div>
                <input type="password" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Confirm Password" id="confirm_password" required>

            </div>
            <br>

            <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Register me</button>
            </form>
    </div>


    </body>

</main>
</html>