<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1 style="display: inline-block" th:text="${blogPost.title}"></h1>
        <p style="display: inline-block; float: right">Author: </p>
        <b><p style="display: inline-block; float: right" th:text="${blogPost.author.userName}"></p></b> <br/>
        <p th:text="${blogPost.body}"></p>
    </div>
    <hr>
    <form th:action="@{{postId}/addTagsToPost(postId = ${blogPost.id})}" method="post">
<!--        <div th:each="tag:${allTags}">-->
        <div th:each="index : ${#numbers.sequence( 0, #arrays.length(allTags)-1)}">
            <input type="checkbox" name="tags" th:text="${allTags[index].tagName}" th:value="${allTags[index].id}" th:checked="${tagStatus[index]}">
<!--            <input id="selectedTags" type="hidden" name="activeTags" th:value="${tagStatus[index]}">-->
        </div>
        <br/>
        <input type="submit" value="Add selected tags">
    </form>
<!--    <a th:href="@{{postId}/addTagsToPost(postId = ${blogPost.id})}">ggggggggggggggggggggggg</a>-->
</body>
</html>