<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>BlogCentral</title>

    <link rel="stylesheet" href="/css/master.css">
    <script src="/js/script.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>
</nav>
<main>

    <div class="sideNav">
        <h1>Active users</h1>
        <h1 th:text="${activeFilter}"></h1>
    </div>
<div class="container">
    <form th:action="@{saveChanges}" method="post">
    <div>
        Title: <textarea class="uk-textarea" rows="1" th:text="${blogPost.title}" name="title"></textarea> <br><br>
        Body: <textarea class="uk-textarea"  rows="10" th:text="${blogPost.body}" name="body"></textarea> <br><br>
        <input type="hidden" th:value="${blogPost.author.id}" name="author">
        <input type="hidden" th:value="${blogPost.id}" name="id">
        <input type="hidden" th:value="${blogPost.timestampCreated}" name="timestampCreated">
        <input type="hidden" th:value="${blogPost.timestampCreatedDisplay}" name="timestampCreatedDisplay">
    </div>
    <hr>

<!--        <div th:each="tag:${allTags}">-->
        <div th:each="index : ${#numbers.sequence( 0, #arrays.length(allTags)-1)}">
            <label><input class="uk-checkbox" type="checkbox" name="tags" th:text="${allTags[index].tagName}" th:value="${allTags[index].id}"></label>

        </div>
        <br/>
        <input type="submit" value="Update">
    </form>
</div>
<!--    <a th:href="@{{postId}/addTagsToPost(postId = ${blogPost.id})}">ggggggggggggggggggggggg</a>-->
</body>
</html>