<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/master.css">
    <script src="/js/script.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>

</head>
<body>

    <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
        <!--navbar menu-->
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li>&nbsp;&nbsp;</li>
                <li><a class="uk-link-text" href="/login">Login</a></li>
                <li><a class="uk-link-text" href="/authors/register">Sign up</a>
                </li>
                <!-- TODO: redirect to logged user-->
                <li><a class="uk-link-text" href="/authors/update/1">Update
                    profile</a></li>
                <!--<li><a th:href="@{/authors/update/{authorId}(authorId=${author.id})}">Update profile</a></li>-->
            </ul>
        </div>
        <!--        navbar menu search-->
        <div class="uk-navbar-right">
            <div>
                <a class="uk-navbar-toggle" uk-search-icon></a>
                <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                    <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:executeSearch()">
                        <input id="searchField" class="uk-search-input" type="search" placeholder="Search" autofocus>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="sideNav">

        </div>

        <div class="content">

        </div>
    </main>

</body>
</html>