<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>BlogCentral</title>

    <link rel="stylesheet" href="/css/master.css">
    <script src="/js/script.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <ul th:with="LoggedIn=${userLoggedIn}" class="uk-navbar-nav">
            <li>&nbsp;&nbsp;</li>
            <li><a class="uk-link-text" href="/">Home</a></li>

            <li th:unless="${LoggedIn}"><a class="uk-link-text" href="/login">Login</a></li>
            <li th:unless="${LoggedIn}"><a class="uk-link-text" href="/authors/register">Sign up</a></li>
            <!-- TODO: redirect to logged user-->
            <li th:if="${LoggedIn}"><a class="uk-link-text" th:href="@{/authors/update}">Update profile</a></li>
            <li th:if="${LoggedIn}"><a class="uk-link-text" th:href="@{/blogpost/writePost}">New post</a></li>
        </ul>
    </div>
    <!--        navbar menu search-->
    <div class="uk-navbar-right">
        <div>
            <a class="uk-navbar-toggle" uk-search-icon></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:executeSearch()">
                    <input id="searchField" class="uk-search-input" type="search" placeholder="Search" autofocus>
                </form>
            </div>
        </div>
    </div>
</nav>
<main>

    <div class="sideNav">
        <div class="uk-placeholder">PLACEHOLDER SIDEBAR</div>
        <div class="uk-placeholder">P1: LOGGED ON USERS</div>
        <div class="uk-placeholder">P2: TOTAL ONLINE</div>
        <div class="uk-placeholder">P3: TOTAL VISITS</div>
        <button th:if="${userLoggedIn}" class="uk-button uk-button-danger" onclick="javascript:window.location.href = '/logout'">Logout</button>
    </div>


    <div class="content">
        <form th:action="@{/authors/save}" method="post">
            <title>Author Profile Form</title>
            <br>
            <div>
                <label for="firstnameForm" STYLE="color: black">First name*</label>
                <div>
                    <input th:value="${author.firstName}" type="text" name="firstName" style="border: 1px solid black" id="firstnameForm" aria-describedby="emailHelp" placeholder="Enter first name" required>

                </div>

            </div>
            <br>
            <div>
                <label for="lastnameForm" STYLE="color: black">Last name*</label>
                <div>
            <div class="form-group">
                <input th:value="${author.lastName}" type="text" name="lastName"class="form-control"  id="lastnameForm"
                       aria-describedby="emailHelp" placeholder="Enter last name" required>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="emailForm" STYLE="color: black">E-mail*</label>
                    <div>
                        <div class="form-group">
                            <input th:value="${author.email}" type="text" name="email" class="form-control"  id="emailForm"
                       aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="streetForm" STYLE="color: black">Street</label>
                    <div>
                        <input th:value="${author.street}" type="text" name="street" class="form-control"  id="streetForm"
                       aria-describedby="emailHelp" placeholder="Enter street">
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="houseNrForm" STYLE="color: black">House number</label>
                    <div>
                        <input th:value="${author.houseNr}" type="text" name="houseNr" class="form-control" id="houseNrForm"
                       aria-describedby="emailHelp" placeholder="Enter house Nr">
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="cityForm" STYLE="color: black">City</label>
                    <div>
                        <input th:value="${author.city}" type="text" name="city" class="form-control" id="cityForm"
                       aria-describedby="emailHelp" placeholder="Enter City">
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="zipForm" STYLE="color: black">Zip code</label>
                    <div>
                <input type="number" min="1000" max="999999" th:value="${author.zip}" class="form-control" name="zip" id="zipForm"
                       aria-describedby="emailHelp" placeholder="Enter Zip code">
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="usernameForm" STYLE="color: black">Username*</label>
                    <div>
                        <input th:value="${author.userName}" type="text" class="form-control" name="userName" id="usernameForm"

                       aria-describedby="emailHelp"  placeholder="Enter username" required>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="passwordForm" STYLE="color: black">Password*</label>
                    <div>
                <input type="password" th:field="*{author.password}" class="form-control" name="password" id="passwordForm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters and must contain (?=.*d)(?=.*[a-z])(?=.*[A-Z]).{8,} ' : '');if(this.checkValidity()) form.confirm_password.pattern = this.value;"
                       placeholder="Password" required>
                        <br>
                        <div>
                            <label for="confirm_password" STYLE="color: black">Re-enter password*</label>
                            <div>
                <input type="password" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Confirm Password" id="confirm_password" required>

            </div>
            <br>
                            <input type="hidden" th:field="${author.id}"/>

            <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Update my profile</button>

        </form>
    </div>


    </body>
</html>








