<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{saveChanges}" method="post">
        Title: <input type="text" th:value="${blogPost.title}" name="title"> <br/>
        Body: <input type="text" th:value="${blogPost.body}" name="body">
        <input type="hidden" th:value="${blogPost.author.id}" name="author">
        <input type="hidden" th:value="${blogPost.id}" name="id">
        <input type="hidden" th:value="${blogPost.timestampCreated}" name="timestampCreated">
        <input type="hidden" th:value="${blogPost.timestampCreatedDisplay}" name="timestampCreatedDisplay">
        <input type="submit" value="Edit">
    </form>
</body>
</html>