body {
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    top: 80px;
}

.sideNav {
    margin: 0;
    padding: 0;
    width: 25%;
    max-width: 200px;
    background-color: #333333;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.content {
    width: 75%;
    margin-left: 200px;
    padding: 16px;
    height: 100vh;
}
.container {
    width: 75%;
    margin-left: 15%;
}

.space-50-px {
    margin: 50px 0px;
}

.space-comment {
    margin: 0px 25px;
}

/* below, needed to add few classes to get commercial next to articles */
.filter {
    height: 5vh;
}

.flex-surround {
    display: flex;
    width: 100%;
    margin: 50px 0;


}
/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

.articles {
    float: left;
}

.miniprofile {
    float: right;
}

.pagination {
    height: 10vh;
}

.comment {

}
